.contact-container{
    @include flexs(flex,none,space-between,none);
    background: linear-gradient(-90deg,#031540 70%,white 30%);
    width: 100%;
    height: 100 auto;
    border-bottom: 2px solid $text-color;
    padding: 2rem 6rem;
    h1{
      font-size: $fontsize-lg;
      color: $primary-color;
    }
    .contact-left{
        width: 300px;
        height: 100%;
        h1{
            padding-bottom: 2rem;
        }
        .contact-media{
            width: 100%;
            height: 350px;
            background-color: $primary-color;
            border: 5px solid $ternary-color;
            outline: 5px solid $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                text-align: center;
                color: $ternary-color;
                padding: 2rem;
                font-size: $fontsize-x-md;
            }
            .media-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                .media{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    padding: 0 5rem;
                    i{
                        font-size: $fontsize-lg;
                        color: $ternary-color;
                    }
                    p{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .contact-right{
        width: 800px;
        height: 100%;
        text-align: center;
        h2{
            color: $ternary-color;
            font-size: $fontsize-x-lg;
            padding-bottom: 2rem;
           }
           .contact-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100 auto;
            padding: .5rem 0;
           
            
            p{
                color: $primary-color;
                padding-bottom: 2rem;
                font-size: $fontsize-x-md;
            }
            form{
              background: $ternary-color;
              outline: 5px solid $ternary-color;
              border: 5px solid $primary-color;
              width: 300px;
              height: 100%;
              padding: 1rem 2rem;
             
             .input-box{
              padding-left: 0;
              display: flex;
              justify-content: left;
              flex-direction: column;
              align-items:baseline ;
              margin-bottom: 2rem;
              label{
               font-size: 1.2rem;
               font-weight: 300;
               color: $primary-color;
              }
              input{
                padding: .5rem;
                color: $primary-color;
              }
             }
             .submit-box{
              // margin-bottom: 1.2rem;
              button{
                padding: 1rem 2rem;
                background: $ternary-color;
                color: $primary-color;
                border: 2px solid $primary-color;
                font-size: 1.5rem;
                font-weight: $fontweight-x-lg;
                border-radius: 3px;
                transition: .2s;
                &:hover{
                  cursor: pointer;
                  background: $primary-color;
                  color: $ternary-color;
                }
              }
             }
            }
           }
    }
}
@media (max-width: 1252px){
    .contact-container{
        background: linear-gradient(-90deg,#031540 60%,white 40%);
    }
    .contact-right{
        max-width: 500px;
      }

  }
  @media (max-width: 1000px){
    .contact-container{
      background: linear-gradient(-90deg,#031540 70%,white 30%);
      .contact-left{
        width: 200px;
        .contact-media{
          .media-container{
            
            .media{
              padding: 0;
              gap: 0;


            }
          }
        }
        
      }
    }
  }
  @media (max-width: 890px){
    .contact-container{
      background: linear-gradient(-90deg,#031540 70%,white 30%);
      .contact-left{
        width: 180px;
        .contact-media{
          .media-container{
            
            .media{
              display: flex;
              flex-direction: column;
              p{
                font-size: 1rem;
              }
            }
          }
        }
      }
      .contact-right{
        width: 400px;
      }
    }
  }
  @media (max-width: 820px){
    .contact-container{
      background: linear-gradient(-90deg,#031540 70%,white 30%);
      .contact-left{
        width: 160px;
      }
    }
  }
  @media (max-width: 787px){
    .contact-container{
      background: linear-gradient(0deg,#031540 30%,white 70%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      .contact-left{
        width: 500px;
        text-align: center;
        
        .contact-media{
          
            .media-container{
              
              .media{
              i{
                font-size: $fontsize-lg;
              }
              p{
                font-size: $fontsize-x-md;
              }
              }
            }
        }
      }
      .contact-right{
        width: 500px;
        .contact-form{
          form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            p{
              font-size: 1.8rem;
            }
            .input-box{
              label{
                font-size: $fontsize-x-md;
              }
            }
          }
        }
      }
    }
        }
        @media (max-width: 576px){
          .contact-container{
            .contact-left{
              padding: 0 3rem;
            }
            .contact-right{
              padding: 0 3rem;
            }
          }
        }
        @media (max-width: 482px){
          .contact-container{
            .contact-left{
              padding: 0 6rem;
            }
            .contact-right{
              padding: 0 6rem;
            }
          }
        }
        @media (max-width: 400px){
          .contact-container{
            .contact-left{
              padding: 0 10rem;
            }
            .contact-right{
              padding: 0 10rem;
            }
          }
        }
        @media (max-width: 326px){
          .contact-container{
            .contact-left{
              padding: 0 13rem;
            }
            .contact-right{
              padding: 0 13rem;
            }
          }
        }