.contact-container{
    @include flexs(flex,none,space-between,none);
    background: linear-gradient(-90deg,#031540 70%,white 30%);
    width: 100%;
    height: 100 auto;
    border-bottom: 2px solid $text-color;
    padding: 2rem 6rem;
    h1{
      font-size: $fontsize-lg;
      color: $primary-color;
    }
    .contact-left{
        width: 300px;
        height: 100%;
        h1{
            padding-bottom: 2rem;
        }
        .contact-media{
            width: 100%;
            height: 350px;
            background-color: $primary-color;
            border: 5px solid $ternary-color;
            outline: 5px solid $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                text-align: center;
                color: $ternary-color;
                padding: 2rem;
                font-size: $fontsize-x-md;
            }
            .media-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                .media{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    padding: 0 5rem;
                    i{
                        font-size: $fontsize-lg;
                        color: $ternary-color;
                    }
                    p{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .contact-right{
        width: 800px;
        height: 100%;
        text-align: center;
        h2{
            color: $ternary-color;
            font-size: $fontsize-x-lg;
            padding-bottom: 2rem;
           }
           .contact-form{
            width: 100%;
            height: 300px;
            background: $ternary-color;
            p{
                color: $primary-color;
                font-size: $fontsize-x-md;
            }
           }
    }
}