header{
    @include flexs(flex,center,space-between,2rem);
    background: linear-gradient(-90deg,#031540 70%,white 30%);
    padding: 2rem 6rem;
    width: 100%;
    position: sticky;
    z-index: 999;
    right: 0;
    top: 0;

    .logo{
        font-size: $fontsize-x-lg;
        letter-spacing: .5rem;
        color: $primary-color;
        cursor: pointer;
        transition: .3s;
        &:hover{
            transform: translate(3px,-3px);
        }

    }
    .nav-links{
        @include flexs(flex,center,space-between,3rem);
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: $fontsize-md;
                font-weight: $fontweight-x-md;
                color: $ternary-color;
                transition: .3s;
                &.active,:hover,:active{
                    color: $secondary-color;
                }
                
            }
        }
        i{
            font-size: $fontsize-lg;
            color: $ternary-color;
            transition: .3s;
            &:hover{
                color: $secondary-color;
                cursor: pointer;
            }
        }
    
    }
    .menu{
        display: none;
        font-size: 4rem;
        color: $primary-color;
        font-weight: $fontweight-lg;
    }
}
@media (max-width: 1252px){
    Header{
        background: linear-gradient(-90deg,#031540 60%,white 40%);
    }
}
@media (max-width: 1080px){
    Header{
        background: linear-gradient(-90deg,#031540 60%,white 40%);
        .logo{
            font-size: $fontsize-md;
            letter-spacing: .3rem;
        }
        .nav-links{
            @include flexs(flex,center,space-between,2rem);
            li{
                a{
                    font-size: $fontsize-md;
                }
            }
        }
    }

}
@media (max-width: 1000px){
    Header{
        background: linear-gradient(-90deg,#031540 70%,white 30%);
    }
}
@media (max-width: 867px){
    header{
        @include flexs(flex,center,space-between,1rem);
        background: white;
        .nav-links{
            @include flexs(flex,center,space-between,1rem);
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    font-size: $fontsize-md;
                    color: $primary-color;  
                    &.active,:hover,:active{
                        color: $secondary-color;
                    }
                }
            }
            i{
                font-size: $fontsize-lg;
                color: $primary-color;
                transition: .3s;
                &:hover{
                    color: $secondary-color;
                    cursor: pointer;
                }
        }
    }

}}
@media (max-width: 787px){
    Header{
        .nav-links{
            display: none;
                                                                                                        
            li{
                a{
                    color:$ternary-color;
                    font-size: $fontsize-lg;
                }
            }
            i{
                color: $ternary-color;
                font-size: 6rem;
            }
        }
        .menu{
            display: block;
        }
    }
}
header{
    .nav-links-cliked{
        background-color: $primary-color;
        position: fixed;
        top: 9rem;
        height: 100%;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: $fontsize-x-lg;
                color: $ternary-color;
                transition: .4s;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .user{
            i{
                font-size: 6rem;
                color: $ternary-color;
                &:hover{
                    color: $secondary-color;
                }
            }

        }
        
    }
}
@media (min-width: 787px){
    header{
        .nav-links-cliked{
            display: none;
        }
    }
}
@media (max-width: 482px){
    header{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 2rem;
    }
}